 	.tab {
       	border-radius: 25px;
		padding: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*background-color: #CADA09;*/
        background-color: white;
        width: 35%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }
       .box {
			width: 70px;
			height: 50px;
			background-color: maroon;
			color: white;
			font-weight: bold;
            font-size: 20pt;
			border-style: solid;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.box:hover { 
        background-color: black;
    }
    .table {
    	display: none;
    }
        .win {
    color: green;
/*    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}
    .head {
		padding: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #DD5721;
        text-align: center;
        color:gold;
        /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px lightblue;*/
        width: 50%;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }
       body {
       	background-color: purple;
       }